<div class="ml-container">
  <div>
    <h2>Enter text here</h2>
    <form action="#" phx-change="text-update" phx-submit="text-update">
      <.input
        type="textarea"
        name="main-textarea"
        placeholder="Input Elixir source code"
        class="ml-textarea"
        autofocus="true"
        value={@user_text}
        phx-debounce="150"
      />
    </form>
  </div>

  <div>
    <h2>Rendered</h2>
    <%= raw(assigns[:highlighted]) %>
  </div>
</div>
