/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

.ml-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;

}

.ml-container > div {
}

.ml-textarea {
  height: 30em;
}
