<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MakeupLive · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
    <style><%= Makeup.stylesheet() %></style>
  </head>
  <body>
    <header>
      <section class="container">
        <h1>Makeup Live Formatter</h1>
        <div>Built with Phoenix LiveView. Highlights Elixir code.</div>
      </section>
    </header>
    <%= @inner_content %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>

