<h1>Makeup Live Formatter</h1>

<div class="ml-container">
  <div>
    <form action="#" phx-submit="text-update">
      <%= textarea :source, :text, placeholder: "Input Elixir source code", class: "ml-textarea" %>
      <%= submit "Submit", phx_disable_with: "Formatting..." %>
    </form>
  </div>

  <div>
    <h2>Rendered</h2>
    <%= raw(assigns[:highlighted]) %>
  </div>
</div>
