<h1>Makeup Live Formatter</h1>

<div class="ml-container">
  <div>
    <h2>Enter text here</h2>
    <form action="#" phx-change="text-update" phx-submit="text-update">
      <%= textarea :source,
          :text,
          placeholder: "Input Elixir source code",
          class: "ml-textarea",
          autofocus: true,
          value: assigns[:user_text] %>
    </form>
  </div>

  <div>
    <h2>Rendered</h2>
    <%= raw(assigns[:highlighted]) %>
  </div>
</div>
